* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    color: var(--default-text-color);
    font-family: 'Source Code Pro', Arial, Helvetica, sans-serif;

    width: 100%;
    height: 100vh;

    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 32px;
    color: var(--default-text-color);
}

p {
    font-size: 16px;
    color: var(--default-text-color);
}


.big {
    font-size: 36px;
}
.accent {
    color: var(--accent-color);
}

.on {
    background-color: var(--accent-color) !important;
    box-shadow: 0 4px 60px var(--accent-color);
}

.hidden {
    display: none;
    visibility: hidden;
}


main {
    z-index: 5;
}

main > .message {
    margin-top: 100px;
}

main > .message > p {
    max-width: 60%;
    display: block;
    margin: auto;
}


header.top__lights {
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    padding: 0 20%;

    display: flex;
    justify-content: space-between;
    z-index: 0;
}

footer.bottom__switches {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    padding: 0 20%;

    display: flex;
    justify-content: space-between;
    z-index: 0;
}



.light {
    display: inline;
    text-align: center;
}

.light > .wire {
    width: 4px;
    display: block;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.5);
}

.light > .bulb {
    display: block;
    margin: auto;

    width: 24px;
    height: 24px;
    border-radius: 50%;

    background-color: #3d3d3d;
}


.switch > .plug {
    display: block;
    margin: auto;

    width: 24px;
    height: 32px;
    border-radius: 5px;

    background-color: #fff;
    cursor: pointer;

    border: 3px solid #fff;
}
.switch > .plug:hover {
    border-color: var(--accent-color);
}

.switch > .wire {
    width: 4px;
    height: 90px;
    display: block;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.5);
}


.success__menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    border-radius: 20px;
    padding: 15px;
}
.success__menu > img {
    width: 40%;
}
.success__menu > div > * {
    color: #000;
}
.success__menu > div > p {
    margin-bottom: 25px;
}


.success__menu > div > .principal__button {
    padding: 5px 10px;
    background-color: var(--accent-color);
    color: var(--bg-color);
    border: none;
    border-radius: 5px;
    font-family: 'Source Code Pro';
    font-weight: 700;
    font-size: 16px;
    transition: .1s ease-in;

    cursor: pointer;
}

.success__menu > div > .secondary__button {
    color: #000;
    background: none;
    text-decoration: underline;
    border: none;
    font-weight: 500;

    cursor: pointer;
}




@media screen and (max-width: 797px) {
    header.top__lights {
        padding: 0 10%;
    }
    
    footer.bottom__switches {
        padding: 0 10%;
    }

    .success__menu {
        width: 70%;
    }
    .success__menu > img {
        width: 60%;
    }
}

@media screen and (max-height: 700px) {
    main > .message {
        margin-top: 40px;
    }
}