* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    font-family: 'Source Code Pro', Arial, Helvetica, sans-serif;
}

body > section.landing {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
}

body > section.landing > .bg-img {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;

    background-image: url('../static/assets/images/background.png');
    background-size: 100%;
    filter: blur(10px);
}

span.quotation {
    font-size: 20px;
    color: var(--secondary-color);
    font-weight: 700;
    font-style: normal;
}

section.landing > .flex {
    margin: 8% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.landing > .flex > .description {
    width: 50%;
}
section.landing > .flex > .description > h1 {
    font-size: 48px;
    font-weight: 800;
}
section.landing > .flex > .description > h3 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 12px;
}
section.landing > .flex > .description > p {
    font-size: 18px;
    font-weight: 400;
    margin-top: 35px;
    color: var(--paragraph-color);
    max-width: 70%;
}
section.landing > .flex > .description > .contacts_icons {
    margin-top: 40px;
}
section.landing > .flex > .description > .contacts_icons > .contact_icon {
    width: 52px;
    height: 52px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-text-color);
    border-radius: 8px;
    transition: ease .2s;
}
.contact_icon > img {
    width: 32px;
}
section.landing > .flex > .description > .contacts_icons > .contact_icon:hover {
    transform: scale(110%);
}

section.landing > .flex > .description > .quote {
    margin-top: 90px;
    padding: 10px;
    border-left: 3px solid var(--secondary-color);
}
.quote > .content {
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
    max-width: 80%;
}
.quote > .author {
    font-size: 14px;
    font-weight: 400;
    color: var(--default-text-color);
    margin-top: 15px;
}



section.landing > .flex > .terminal {
    width: 45%;
    min-height: 430px;
    background-color: black;
    border: 3px solid var(--secondary-color);
    border-radius: 30px;
    padding: 25px;
}

section.landing > .flex > .terminal > header {
    display: block;
}
.terminal > header > .buttons > .btn {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
}
.terminal > header > .filename {
    margin-top: 7px;
}

.terminal > .code { 
    margin-top: 14px;
}
.terminal > .code div {
    font-size: 14px;
    padding: 4px 0;
    font-weight: 700;
    color: #00D650;
}
.terminal > .code div > .tilde { 
    color: #2400FF;
    margin-right: 10px;
}


main {
    width: 100%;
    margin-top: 90vh;
    position: relative;
    background-color: var(--bg-color);
    z-index: 5;
}

main > header.scroll_icon {
    width: 100%;
    display: block;
    padding: 10px;
}
main > header > div {
    width: 21px;
    height: 35px;
    border-radius: 25px;
    display: block;
    margin: auto;

    border: 3px solid #fff;
    position: relative;
}

main > header > div > #scroll_icon {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    height: 5px;
    background-color: #fff;
    border-radius: 10px;
    opacity: 1;

    animation: scroll 1.8s infinite;
}

main section {
    color: var(--default-text-color);
    padding: 0 120px;
}
main section > .title {
    font-size: 24px;
    font-weight: 700;
}

main > section#computer-science-summaries > .summaries_grid {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

main > section#computer-science-summaries > .summaries_grid > .summary {
    width: 30%;
    margin: 20px 0;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: var(--secondary-color);
}

main > section#computer-science-summaries > .summaries_grid > .summary > header {
    display: flex;
    justify-content: left;
    align-items: center;
}
main > section#computer-science-summaries > .summaries_grid > .summary > header > * {
    width: 38px;
    height: 19px;
    margin-right: 7px;
    text-align: center;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 700;
}

main > section#computer-science-summaries > .summaries_grid > .summary > .summary_content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 0;
}
main > section#computer-science-summaries > .summaries_grid > .summary > .summary_content > .summary_title {
    font-size: 20px;
    font-weight: 700;
    max-width: 80%;
}
main > section#computer-science-summaries > .summaries_grid > .summary > .summary_content > a {
    width: 40px;
    height: 40px;
    border-radius: 9px;
    background-color: #00D650;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s ease-in;
}
main > section#computer-science-summaries > .summaries_grid > .summary > .summary_content > a:hover {
    transform: scale(110%);
}
main > section#computer-science-summaries > .summaries_grid > .summary > .summary_content > a > img {
    width: 18px;
}



main > section#projects-and-open-source-code {
    margin-top: 100px;
}

main > section#projects-and-open-source-code > .projects_grid {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
main > section#projects-and-open-source-code > .projects_grid > .project {
    width: 48%;
    height: 440px;
    margin: 20px 0;
    padding: 10px 15px;
    border-radius: 15px;

    position: relative;
    border-radius: 15px;

    transition: .4s ease-in;
}


main > section#projects-and-open-source-code > .projects_grid > .project:hover > .bg_img {
    filter: blur(10px);
}
main > section#projects-and-open-source-code > .projects_grid > .project:hover > .overlay_message {
    visibility: hidden;
}
main > section#projects-and-open-source-code > .projects_grid > .project:hover > .overlay {
    opacity: 1;
}

main > section#projects-and-open-source-code > .projects_grid > .project > .bg_img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('http://latestwall.com/images/wallpaper/sunset_hd_wallpaper_21.jpg');
    background-size: 100%;
    z-index: -1;
    border-radius: 15px;

    transition: .4s ease-in;
}
main > section#projects-and-open-source-code > .projects_grid > .project > .overlay_message {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 15px;
    font-size: 12px;
    font-weight: 600;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 8px;

    transition: .1s ease-in;
}

main > section#projects-and-open-source-code > .projects_grid > .project > .overlay {
    opacity: 0;

    border-radius: 15px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    padding: 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    transition: .5s ease-in;
}
main > section#projects-and-open-source-code > .projects_grid > .project > .overlay .title {
    margin-bottom: 15px;
    justify-self: flex-start;
}
main > section#projects-and-open-source-code > .projects_grid > .project > .overlay .description {
    color: var(--paragraph-color);
    justify-self: left; 
}
main > section#projects-and-open-source-code > .projects_grid > .project > .overlay > .link_btn {
    display: inline;
    padding: 10px 40px;
    background-color: #fff;
    color: #000;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    border-radius: 9px;
    transition: .2s ease-in;
}
main > section#projects-and-open-source-code > .projects_grid > .project > .overlay > .link_btn:hover {
    transform: scale(110%);
}

main > section#projects-and-open-source-code > .opensource_container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 90px;
}
main > section#projects-and-open-source-code > .opensource_container > .opensource_tab {
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
}
main > section#projects-and-open-source-code > .opensource_container > .opensource_tab > .data {
    margin-left: 20px;
}
main > section#projects-and-open-source-code > .opensource_container > .opensource_tab > .data > h3 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
}
main > section#projects-and-open-source-code > .opensource_container > .opensource_tab > .data > .link_button {
    padding: 8px 15px;
    font-size: 14px;
    font-weight: 700;
    background-color: #000;
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
}
main > section#projects-and-open-source-code > .opensource_container > .opensource_tab > .data > .link_button.github {
    background-color: #2DBA4E;
}
main > section#projects-and-open-source-code > .opensource_container > .opensource_tab > .data > .link_button.gitlab {
    background-color: #E24329;
}

@keyframes scroll {
    0% { height: 5px; top: 25%; }
    30% { height: 15px; top: 25%; }
    50% { height: 5px; top: 65%; }
    100% { height: 5px; top: 25%; }
}


.italian {
    background-image: url('http://nouahsark.com/data/images/infocenter/worldwide/europe/flags_big/italy.png');
    background-size: 100%;
}