:root {
    --bg-color: #0A0908;
    --secondary-color: #1E1E1E;
    --accent-color: #FCA311;
    --default-text-color: #ffffff;
    --paragraph-color: rgba(255, 255, 255, 0.8);
    --light-text-color: rgba(255, 255, 255, 0.5);
}